<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="sConexaoSQL" value="Data Source=CLEBER-PC2\SQLEXPRESS;Initial Catalog=SASPL_CAM_FRIA;Connection Lifetime=240;Integrated Security=True" />
		<!--<add key="sConexaoSQL" value="Data Source=172.20.24.233\SQLEXPRESS;Initial Catalog=SASPL_CAM_FRIA;Connection Lifetime=240;Integrated Security=True" />-->
		<!--<add key="sConexaoSQL" value="Persist Security Info=False;Integrated Security=True;Initial Catalog=???;Data Source=10.0.20.10;Connection Lifetime=60;Pooling=false;"/>-->
		<!--<add key="sConexaoSQL" value="Persist Security Info=False;User ID=???;Password=???;Initial Catalog=???;Data Source=(ex = 10.0.40.44);Connection Lifetime=600;Pooling=false;"/>-->

		<!--Local = 0 / Servidor = 1-->
		<add key="CaminhoPastaXMLLabsDD" value="1" />
		
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>

		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms">
			<forms defaultUrl="Default.aspx" path="/" loginUrl="Login/Login.aspx" protection="All" timeout="240"/>
		</authentication>
		<authorization>
			<allow users="*"/>
			<deny users="?"/>
		</authorization>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
		<globalization culture="pt-BR" uiCulture="pt-BR" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" fileEncoding="iso-8859-1" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<location path="ConsultaLivre">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>