*
{
    padding: 0;
    margin: 0;
}
.pagina
{
    width: 60%;
    height: 30%;
    font-family: Arial;
    margin: 40px auto;
    background: #f8f8f8;
    padding: 20px 20px 20px;
    border: 1px solid #EEE;
    font-size: 16px; 
}
.rodape
{
    margin-top: 5px;
    width: 100%;
    font-family: Arial;
    border: 1px solid #EEE;
}
.pagina div input
{
    border: 1px solid #DDD;
    padding: 5px 0;
}
.pagina .cripto td
{
    width: 50%;
}
.pagina .cripto td input
{
    margin: 5px;
}

.pagina .contBt
{
    text-align: center;
    margin: 10px;
}

.pagina .contBt .bt
{
    font-size: 18px;
    border: 1px solid #DDD;
    width: 25%;
    height: 44px;
    padding: 10px;
}
.pagina .contBt .bt:hover
{
    background: #555;
    color: #FFF;
    cursor: pointer;
}
.dataAtual
{
    padding: 10px 45% 10px;
}
.insercoes
{
    font-size: 18px;
    padding: 10px 0% 15px;
    text-align: center;
}
.btIncluir
{
    font-size: 18px;
    height: 44px;
    cursor: pointer;
    width: 140px;
}
.btConcluir:hover
{
    background: #555;
    color: #FFF;
    cursor: pointer;
}
.none
{
    display: none;
}
.contadorItens
{
    font-size: 18px;
}
.confirmaInclusao
{
    font-size: 14px;
}
.infoProcessando
{
    font-size: 18px;
    text-align: center;
    margin-top: 75px;
}
.imgProcessando
{
    margin-top: 10px;
    text-align: center;
}
.mensagemErro
{
    margin-top: 20px;
    text-align: center;    
}
.lblCamara
{
     font-size: 16px;
}
.aviso
{
    color: red;
}